<html>
  <head>
    <title>IdeaBox</title>
  </head>
  <body>
    <h2>IdeaBox</h2>
    <form action='/' method='post'>
      <p>
        Your Idea
      </p>
      <input type='text' name='idea_name'><br />
      <textarea name='idea_description'></textarea><br />
      <input type='submit' value='SAVE'>
    </form>
    <h3>Existing Ideas</h3>
    <ul>
      <% ideas.each do |idea| %>
        <li>
          <%= idea.title %>
          <%= idea.description %>
        </li>
      <% end %>
  </body>
</html>
