<html>
  <head>
    <title>IdeaBox</title>
  </head>
  <body>
    <h2>IdeaBox</h2>
    <form action='/' method='post'>
      <p>
        Your Idea
      </p>
      <input type='text' name='idea_name'><br />
      <textarea name='idea_description'></textarea><br />
      <input type='submit' value='SAVE'>
    </form>
    <h3>Existing Ideas</h3>
    <ul>
      <% ideas.each_with_index do |idea, id| %>
        <li>
          <%= idea.title %>
          <%= idea.description %>
        </li>
        <a href='/<%= id %>/edit'>Edit</a>
        <form action="/<%= id %>" method='post'>
          <input type='hidden' name="_method" value="DELETE">
          <input type='submit' value='DELETE'>
        </form>
      <% end %>
  </body>
</html>
